{% include 'header.html' %}

{% block content %}



<div class="card">
    <div class="card-body">
        <div class="col-lg-6"> <h3 class="card-title">Articles</h3></div>
        <div class="row add-btn">
            <div class="col-lg-6">
                <a class="btn btn-primary float-right" href="article-add">Add New</a>
            </div>
        </div>


      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Published at</th>
          </tr>
        </thead>
        {% if articles %}
         {% for article in articles %}
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="details/{{article.id}}">{{article.title}}</a></td>
                <td>{{article.publication_date | date:'c'}}</td>
              </tr>
            </tbody>
         {% endfor %}
        {% else %}
          <tbody>
            <tr>
                <td></td>
                <td align="center">No article found</td>
                <td></td>
            </tr>
          </tbody>
        {% endif %}

      </table>
      <!-- End Table with hoverable rows -->

    </div>
  </div>

{% endblock %}