{% include 'header.html' %}

{% block content %}

    <div class="article-single" data-id="{{article.id}}">
        <h2>{{article.title}}</h2>
        <p><small>by {{article.author}} on {{article.publication_date}}</small></p>
        <br>
        <div class="excerpt">
            {{ article.body | slice:":20" | add:" " }}
            <a href="javascript:void(0);" class="more_info">more...</a>
        </div>
        <div class="details" style="display:none;">
            {{ article.body }}
            <br><a href="javascript:void(0);" class="less_info">less...</a>
        </div>
    </div>

{% endblock %}

<div class="comment-sec">
    <h3>Comments:</h3> <br>
    <form action="/myapp/add-comment/" method="post">
        {% csrf_token %}
<!--        <input type="hidden" name="article_id" value="{{ article.id }}">-->
        {{ comment_form }}
        <input type="submit" value="POST">
    </form>
    <br>

    <div>
        {% for comment in comments %}
        <div>
            <h4>{{comment.title}}</h4>
            <small>{{comment.author}} - {{comment.publication_date}}</small>
            <p>{{comment.body}}</p>
        </div>
        {% endfor %}
    </div>


</div>


<!--{% load static %}-->
<!--<script type="text/javascript" src="{% static 'js/show_details.js' %}"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>

$(".more_info").on("click", function() {
    $(".excerpt").hide();
    $(".details").show();
});
$(".less_info").on("click", function() {
    $(".details").hide();
    $(".excerpt").show();
});

$(document).ready(function() {
    let id = $(".article-single").data('id');
    console.log('id '+id);
    $("#id_article option[value="+id+"]").prop("selected", true);
    $("#id_article").hide();
});






</script>